﻿@model Mghslh.Models.RegisterViewModel
@{
    /**/
    Layout = "";

}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="مغاسل | خدمات الغسيل و الكيّ">
    <meta name="keywords" content=" مغاسل | خدمات الغسيل و الكيّ">
    <title> مغاسل | خدمات الغسيل و الكيّ </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Webassets/vendors/fontawesome/css/font-awesome.min.css">
    <!-- Simple Line Font -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Webassets/vendors/bootstrap/css/bootstrap.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="~/Webassets/vendors/slick/css/slick.css">
    <link rel="stylesheet" href="~/Webassets/vendors/slick/css/slick-theme.css">
    <!-- owlcarousel Slider -->
    <link rel="stylesheet" href="~/Webassets/vendors/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Webassets/vendors/owlcarousel/css/owl.theme.default.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Webassets/vendors/animate.css">
    <!-- Magnific Po;pup -->
    <link rel="stylesheet" href="~/Webassets/vendors/magnific-popup/css/magnific-popup.css">
    <!-- Main css -->
    <link href="~/Webassets/css/login.css" rel="stylesheet">
</head>

<body id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>   التسجيل </h2>

                </div>
              
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">

                    <input type="email" class="form-control" id="Email" name="Email" required placeholder="الايميل">


                </div>
                <div class="form-group">

                    <input type="text" class="form-control" id="UserName" name="UserName" required placeholder="اسم المستخدم">

                </div>
                <div class="form-group">

                    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="رقم الموبيل">

                </div>
                <div class="form-group">

                    <input type="text" class="form-control" id="RegionName" name="RegionName" placeholder="المنطقة">
                </div>

                        <div class="form-group">
                            
                                <input type="password" class="form-control" id="Password" name="Password" placeholder="كلمة السر">
                           
                        </div>
                        <div class="form-group">
                            
                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="تاكيد كلمة السر">

                         
                        </div>
                                           <button type="submit" class="btn btn-primary"> تسجيل </button>

                    }

            </div>

        </div>
    </div>
    </div>
</body>

</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
