﻿
@model Mghslh.ViewModel.ViewModel.ServicesFM

@{
    Layout = null;

}

@using (Html.BeginForm("Create", "Services", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog modal-lg" style="width:1000px;">
        <div class="modal-content" style="width:1000px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تفاصيل</h4>
            </div>
            <div class="modal-body" style="width:1000px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">


                                <div class="form-group row">
                                    <label class="col-2 col-form-label">نوع الخدمه  </label>

                                    <div class="col-10">
                                        @Html.DropDownListFor(x => Model.ServicesType, (List<SelectListItem>)ViewBag.ServicetypeList, new
                                        {
                                            @class = "form-control select2"

                                        })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        <label class="control-label">اسم الخدمة</label>
                                    </div>
                                    <div class="col-md-4">
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@


                                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                                    </div>
                                </div>








                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                                            <script>
                                                $("#input-1700").fileinput({
                                                    maxFileCount: 1,
                                                    allowedFileExtensions: ["jpg", "png", "gif"],
                                                    browseLabel: " إضغط لإختيار صورة ..",
                                                    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                                    browseClass: "btn btn-primary btn-block",
                                                    showCaption: false,
                                                    showRemove: false,
                                                    showUpload: false
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">

                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>

                                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>






}








<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>


