﻿
@model Mghslh.ViewModel.ViewModel.ServicesPriceFM

@{ 
    Layout = null;
}


@using (Html.BeginForm("Create", "ServicesPrice", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog modal-lg" style="width:1000px;">
        <div class="modal-content" style="width:1000px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تفاصيل</h4>
            </div>
            <div class="modal-body" style="width:1000px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">

                                <div class="form-group row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        <label class="control-label">نوع الخدمه  </label>
                                    </div>
                                    <div class="col-10">
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@



                                        @Html.DropDownListFor(x => Model.ServiceType, (List<SelectListItem>)ViewBag.ServicetypeList, new
        {
            @class = "form-control select2",
            @onchange = "GetServicesList(this.value)",
            @required = "required"
        })

                                        @Html.ValidationMessageFor(model => model.ServiceType, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="control-label">الخدمات  </label>
                                    </div>
                                    <div class="col-10">
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@


                                        @Html.DropDownListFor(x => Model.ServiceId, (List<SelectListItem>)ViewBag.ServiceList, new
        {
            @class = "form-control select2",
            @required = "required"
        })

                                        @Html.ValidationMessageFor(model => model.ServiceId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                 <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="control-label">سعر الخدمة  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = n ew {  @class = "form-control" } })*@
                                        <input type="number" name="Price" id="Price" class="form-control"  value="@Model.Price"/>

                                    </div>
                                </div>








                              

                                <div class="row">
                                    <div class="col-md-5">

                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>

                                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>






}








<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>



<script>
    function GetServicesList(ServiceTypeId)
    {
        ServiceTypeId = ServiceTypeId ? ServiceTypeId : 0;

        $.ajax
            ({
                url: '/ServicesPrice/GetServicesList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: ServiceTypeId
                }),
                success: function (result) {
                    $("#ServiceId").html("");


                    $.each((result), function (i, edu) {

                        $("#ServiceId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("خطاااااا")
                },
            });
    }

</script>