@charset "UTF-8";

/* Regular */
@font-face {
  font-family: "JF Flat Regular";
  src: url('../fonts/JF-Flat-regular.eot');
  src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
  url('../fonts/JF-Flat-regular.woff') format('woff'),
  url('../fonts/JF-Flat-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body#LoginForm {
  background-image: url("../images/blur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px;
  margin: 0;
  /* height: 100vh; */
  font-family: "JF Flat Regular";
  direction: rtl;

}

.form-heading {
  color: #fff;
  font-size: 23px;
}
.panel h2 {
  color: #444444;
  font-size: 18px;
  margin: 0 0 30px 0;
}
.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  max-width: 40%;
  padding: 50px 30px 70px 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.login-form .form-group {
  margin-bottom: 10px;
}
.login-form {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left;
  margin-bottom: 30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back {
  text-align: left;
  margin-top: 10px;
}
.back a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}
