@charset "UTF-8";

/* Regular */
@font-face {
  font-family: "JF Flat Regular";
  src: url('../fonts/JF-Flat-regular.eot');
  src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
  url('../fonts/JF-Flat-regular.woff') format('woff'),
  url('../fonts/JF-Flat-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
 * NAV-MENU
 * ========================================================================== */
.nav-menu {
  background: #ffffff;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001; }
  .nav-menu.sticky-top {
    -webkit-box-shadow: 0px 4px 50px 0px rgba(150, 170, 187, 0.2);
    box-shadow: 0px 4px 50px 0px rgba(150, 170, 187, 0.2);
    position: fixed;
    -webkit-animation: menuSlideDown 0.3s ease;
    animation: menuSlideDown 0.3s ease; }
  .dark-theme .nav-menu {
    background: #2a2e2f;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #383e40; }

.navbar {
  /* padding: 1rem 1rem; */
  padding:10px 0;
  direction: rtl
}

a.navbar-brand{
padding: 0;
margin-left: 1rem;
margin-right: 0;
}
.navbar-nav {
  margin-right: auto; }

.navbar-light .navbar-nav .nav-link {
  color: #2a2e2f;
  padding: 0; }
  .dark-theme .navbar-light .navbar-nav .nav-link {
    color: #ffffff; }

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: #11aff1;
  border-bottom: 2px solid #11aff1; }

.nav-item {
  padding: 0 0 0 32px; }
  @media (max-width: 992px) {
    .nav-item {
      padding: 18px 0 0px 0; } }

.navbar-light .navbar-toggler {
  cursor: pointer; }

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #11aff1 !important;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

@-webkit-keyframes menuSlideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes menuSlideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* ====================================================
 * Button
 * ==================================================== */
.btn-primary {
  background: none;
  border: 2px solid #11aff1;
  color: #11aff1;
  border-radius: 30px;
  font-size: 20px;
  padding: 12px 40px; }
  @media (max-width: 992px) {
    .btn-primary {
      font-size: 18px;
      padding: 10px 16px; } }
  @media (max-width: 480px) {
    .btn-primary {
      width: 100%;
      margin-bottom: 10px; } }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #11aff1;
  border-color: #11aff1;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff; }

.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background-color: #11aff1;
  border-color: #11aff1;
  outline: none; }

.btn-success {
  background: none;
  border: 2px solid #3fb125;
  color: #3fb125;
  border-radius: 30px;
  font-size: 20px;
  padding: 12px 40px; }
  @media (max-width: 992px) {
    .btn-success {
      font-size: 18px;
      padding: 10px 16px; } }
  @media (max-width: 480px) {
    .btn-success {
      width: 100%; } }

.btn-success:hover,
.btn-success:focus {
  background-color: #3fb125;
  border-color: #3fb125;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff; }

/* ====================================================
 * Pagination
 * ==================================================== */
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
  border: 2px solid #f0f4f6; }

.page-link {
  font-size: 24px;
  font-weight: 100;
  padding: 0.8rem 1.45rem;
  color: #2a2e2f;
  border: 2px solid #f0f4f6; }

.page-link:focus,
.page-link:hover,
.page-link:active {
  color: #11aff1;
  background: none;
  border: 2px solid #f0f4f6; }

@media (max-width: 576px) {
  .pagination .page-item:nth-child(4) {
    display: none; } }

/* -----------------------------------------------
 * GLOBAL STYLES
 * ----------------------------------------------- */
body {
  font-family: "JF Flat Regular";
 }

.owl-carousel.owl-theme.screen-carousel-1.owl-loaded.owl-drag{
  direction: ltr
}

.slick-list{
  direction: ltr
}

.h1,
h1 {
  font-size: 52px;
  font-weight: 100;
  direction: rtl; }
  @media (max-width: 768px) {
    .h1,
    h1 {
      font-size: 32px; } }

.h2,
h2 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.2;
  direction: rtl;
  margin-bottom: 26px; }
  @media (max-width: 768px) {
    .h2,
    h2 {
      font-size: 32px; } }

.h3,
h3 {
  font-size: 24px;
  direction: rtl;
  font-weight: 100; }

.h4,
h4 {
  font-size: 20px;
  direction: rtl;
  font-weight: 700; }

.h5,
h5 {
  font-size: 17px;
  direction: rtl;
  font-weight: 400; }

.h6,
h6 {
  font-size: 14px;
  direction: rtl;
  font-weight: 400; }

p {
  font-size: 16px;
  direction: rtl;
  font-weight: 400;
  line-height: 1.8; }

.text-muted {
  color: #828c9c !important; }

.space {
  padding: 50px 0; }
  @media (max-width: 768px) {
    .space {
      padding: 70px 0; } }

.center-block {
  text-align: center; }

.title-block {
  margin: 0 0 60px; }
  .title-block p {
    max-width: 650px;
    margin: 0 auto 25px; }

.link-color {
  color: #11aff1; }
  .link-color:hover {
    color: #3fb125;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.light-bg {
  background: #f0f4f6; }
  .dark-theme .light-bg {
    background: #383e40; }

.left-block {
  text-align: left; }

.right-block {
  text-align: right; }

.dark-theme {
  background: #2a2e2f;
  color: #d4d6da; }
  .dark-theme h1,
  .dark-theme h2,
  .dark-theme h3,
  .dark-theme h4,
  .dark-theme h5,
  .dark-theme h6 {
    color: #ffffff; }

.light {
  background: #f0f4f6; }

.gray-bg {
  background: #383e40;
  color: #ffffff; }

.blue-bg {
  background: -webkit-gradient(linear, left top, right top, from(#1fb1ff), to(#00a9ff));
  background: -webkit-linear-gradient(left, #1fb1ff 0%, #00a9ff 100%);
  background: -o-linear-gradient(left, #1fb1ff 0%, #00a9ff 100%);
  background: linear-gradient(to right, #1fb1ff 0%, #00a9ff 100%);
  color: #ffffff; }

.red-bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #ed3d3d), to(#ee6363));
  background: -webkit-linear-gradient(left, #ed3d3d 1%, #ee6363 100%);
  background: -o-linear-gradient(left, #ed3d3d 1%, #ee6363 100%);
  background: linear-gradient(to right, #ed3d3d 1%, #ee6363 100%);
  color: #ffffff; }

.light-green-bg {
  background: -webkit-gradient(linear, left top, right top, from(#11d5aa), to(#00d3a2));
  background: -webkit-linear-gradient(left, #11d5aa 0%, #00d3a2 100%);
  background: -o-linear-gradient(left, #11d5aa 0%, #00d3a2 100%);
  background: linear-gradient(to right, #11d5aa 0%, #00d3a2 100%);
  color: #ffffff; }

.yellow-bg {
  background: -webkit-gradient(linear, left top, right top, from(#ffe900), to(#ffed27));
  background: -webkit-linear-gradient(left, #ffe900 0%, #ffed27 100%);
  background: -o-linear-gradient(left, #ffe900 0%, #ffed27 100%);
  background: linear-gradient(to right, #ffe900 0%, #ffed27 100%);
  color: #2a2e2f; }

.violet-bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #2d02ef), to(#5936f0));
  background: -webkit-linear-gradient(left, #2d02ef 2%, #5936f0 100%);
  background: -o-linear-gradient(left, #2d02ef 2%, #5936f0 100%);
  background: linear-gradient(to right, #2d02ef 2%, #5936f0 100%);
  color: #ffffff; }

.no-overflow {
  overflow: hidden; }

@media (min-width: 992px) {
  .btn + .btn {
    margin-left: 10px; } }

.dark-theme hr {
  border-top: 1px solid rgba(187, 187, 187, 0.1); }

.dark-theme .text-muted {
  color: #a1a4ab !important; }

.btn-outline-light:hover {
  color: #0056b3; }

button {
  cursor: pointer; }

/* -----------------------------------------------
 * Preloader
 * ----------------------------------------------- */
.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff; }
  .dark-theme .preloader {
    background: #000; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -33px 0 0 -33px;
  width: 32px;
  height: 32px;
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite; }

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  stroke: #2159d6;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@-webkit-keyframes colors {
  0% {
    stroke: #11aff1; }
  100% {
    stroke: #3fb125; } }

@keyframes colors {
  0% {
    stroke: #11aff1; }
  100% {
    stroke: #3fb125; } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

/* -----------------------------------------------
 * Header
 * ----------------------------------------------- */
.slider-bg {
  padding-top: 40px;
  background: #efefef;
 }

.default-header {
  padding: 170px 0 140px; }

.slider-title {
  padding: 3rem 0 0 0; }
  @media (max-width: 992px) {
    .slider-title {
      padding: 12px 0 0; } }
  @media (max-width: 768px) {
    .slider-title {
      padding: 40px 0 0; } }

.phone-wrap {
  max-width: 100%;
  position: relative;
  float: left;
  z-index: 999; }

.phone-wrap .phone {
  max-width: 100%; }

.phone-wrap .screen {
  position: absolute;
  left: 39.4%;
  top: 15.9%;
  right: 20.5%;
  bottom: 35.3%;
  cursor: -webkit-grab; }

.phone-wrap .screen .item img {
  width: 100%;
  height: 100%; }

/*Sticky parallax page*/
.sticky-phone-wrap {
  max-width: 400px;
  position: relative;
  float: left;
  left: 50%;
  -webkit-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  transform: translateX(-120%); }

.sticky-phone-wrap .phone {
  max-width: 100%; }

.sticky-phone-wrap .screen {
  position: absolute;
  left: 6%;
  top: 12.4%;
  right: 7%;
  bottom: 11.5%;
  background: #000; }

.sticky-phone-wrap .screen img {
  width: 100%;
  height: 100%; }

.content {
  height: 100vh; }
  @media (max-width: 991px) {
    .content {
      height: auto;
      padding: 50px 0;
      text-align: center; } }

.skrollable {
  position: fixed;
  z-index: 100; }

.spacer {
  height: 200px; }

/* -----------------------------------------------
 * Clients
 * ----------------------------------------------- */
.clients {
  padding: 24px 0; }
  .dark-theme .clients {
    background: #383e40; }

/* -----------------------------------------------
 * Isometric View
 * ----------------------------------------------- */
.skew-bg p {direction: rtl }
  @media (max-width: 992px) {
    .skew-bg p {
      padding: 0; } }

.landing-img-bg {
  position: relative;
  margin-top: 0%;
  z-index: 999; }
  @media (max-width: 992px) {
    .landing-img-bg {
      margin: 0; } }

.isometric-stack {
  position: relative;
  z-index: -2;
  overflow: hidden; }
  .isometric-stack .stack-screens {
    position: absolute;
    top: 65.3%;
    left: 4.6%;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-60.3deg) skewY(27.2deg);
    -ms-transform: rotate(-60.3deg) skewY(27.2deg);
    transform: rotate(-60.3deg) skewY(27.2deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    max-width: 1200px;
    bottom: -19.8%;
    z-index: 0; }
  .isometric-stack .stack-screens > img {
    float: left;
    height: 100%;
    width: 17.5%; }
  .isometric-stack .stack-screens > img:first-child {
    margin-right: 7.6%; }
  .isometric-stack .stack-screens > img:nth-child(2) {
    margin-right: 7.5%; }
  .isometric-stack .stack-screens > img:last-child {
    margin-right: 0; }

/* -----------------------------------------------
 * App Intro
 * ----------------------------------------------- */
.app-landing {
  padding: 100px 0 0; }
  .dark-theme .app-landing {
    background: #383e40; }

.pe-7s-angle-right-circle {
  font-size: 15px; }

.landing-img-wrap {
  position: relative;
  height: 537px;
  overflow: hidden; }
  @media (max-width: 992px) {
    .landing-img-wrap {
      height: 348px; } }
  @media (max-width: 768px) {
    .landing-img-wrap {
      height: 290px; } }
  @media (max-width: 480px) {
    .landing-img-wrap {
      height: 250px; } }
  @media (max-width: 400px) {
    .landing-img-wrap {
      height: 210px; } }

.landing-img-wrap .iphone-half1 {
  width: 34%;
  position: absolute;
  float: left;
  z-index: 998;
  top: 91px;
  left: 34%;
  -webkit-transform: translate(-66%);
  -ms-transform: translate(-66%);
  transform: translate(-66%); }
  .landing-img-wrap .iphone-half1 .phone {
    max-width: 100%; }
  .landing-img-wrap .iphone-half1 .screen {
    position: absolute;
    left: 5.4%;
    top: 11.5%;
    right: 0;
    bottom: 35.3%;
    z-index: -1; }
    .landing-img-wrap .iphone-half1 .screen .item img {
      width: 100%;
      height: 100%; }

.landing-img-wrap .iphone-half2 {
  width: 34%;
  position: absolute;
  float: left;
  z-index: 999;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }
  @media (max-width: 480px) {
    .landing-img-wrap .iphone-half2 {
      top: 16%; } }
  @media (max-width: 400px) {
    .landing-img-wrap .iphone-half2 {
      top: 23%; } }
  .landing-img-wrap .iphone-half2 .phone {
    max-width: 100%; }
  .landing-img-wrap .iphone-half2 .screen {
    position: absolute;
    left: 6%;
    top: 12%;
    right: 6%;
    bottom: 35.3%;
    z-index: -1; }
    .landing-img-wrap .iphone-half2 .screen .item img {
      width: 100%;
      height: 100%; }

.landing-img-wrap .iphone-half3 {
  width: 34%;
  position: absolute;
  float: left;
  z-index: 998;
  left: 64%;
  top: 91px;
  -webkit-transform: translate(-36%);
  -ms-transform: translate(-36%);
  transform: translate(-36%); }
  .landing-img-wrap .iphone-half3 .phone {
    max-width: 100%; }
  .landing-img-wrap .iphone-half3 .screen {
    position: absolute;
    left: 0;
    top: 12.5%;
    right: 7.4%;
    bottom: 35.3%;
    z-index: -1; }
    .landing-img-wrap .iphone-half3 .screen .item img {
      width: 100%;
      height: 100%; }

/* -----------------------------------------------
 * Features
 * ----------------------------------------------- */
.featured-wrap {
  overflow: hidden;
  margin: 30px 0 0; }

.featured-item {
  text-align: center;
  -webkit-box-shadow: 0 0 0 1px #f0f4f6;
  box-shadow: 0 0 0 1px #f0f4f6; }
  .dark-theme .featured-item {
    -webkit-box-shadow: 0 0 0 1px #363a3b;
    box-shadow: 0 0 0 1px #363a3b; }
  .dark-theme .featured-item p {
    color: #9fa6b1; }

.pe {
  font-size: 60px;
  color: #48d3b0; }

@media (max-width: 768px) {
  .pe {
    padding: 36px 0 0; } }

/* -----------------------------------------------
 * Video section
 * ----------------------------------------------- */
.pe-primary {
  font-size: 60px;
  color: #11aff1;
  width: 58px; }

.title-block-2 h2 {
  margin: 30px 0 17px; }

.title-block-2 h3 {
  margin: 0 0 26px; }

.title-block-2 p {
  padding-right: 56px; }

.video-wrap {
  position: relative; }
  .video-wrap img {
    border-radius: 30px; }
  @media (max-width: 1200px) {
    .video-wrap img {
      height: 100%; } }
  @media (max-width: 768px) {
    .video-wrap img {
      height: auto; } }

.video-wrap:hover .video-wrap-overlay {
  opacity: 1; }

.video-wrap-overlay {
  position: absolute;
  background: rgba(17, 175, 241, 0.69);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #11aff1;
  border-radius: 50%;
  background: #ffffff;
  padding: 30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999; }

/* -----------------------------------------------
 * Left Right Content
 * ----------------------------------------------- */
.featured1 {
  padding: 150px 0 0; }
  @media (max-width: 768px) {
    .featured1 {
      padding: 70px 0 0; } }
  .featured1 img {
    margin: 0 auto;
    display: block;
    position: relative; }

.iphone-half {
  height: 537px;
  overflow: hidden; }

.iphone-half {
  max-width: 100%;
  position: relative;
  float: left;
  z-index: 999;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

.iphone-half .phone {
  max-width: 100%; }

.iphone-half .screen {
  position: absolute;
  left: 6.4%;
  top: 11.5%;
  right: 6.5%;
  bottom: 0;
  z-index: -1; }

.iphone-half .screen .item img {
  width: 100%;
  height: 100%; }

.featured1-wrap {
  padding: 124px 0; }
  @media (max-width: 992px) {
    .featured1-wrap {
      padding: 72px 0; } }
  @media (max-width: 768px) {
    .featured1-wrap {
      padding: 0 0 30px; } }
  .featured1-wrap h2 {
    margin: 30px 0 17px; }
  .featured1-wrap h3 {
    margin: 0 0 26px; }

.featured2 {
  text-align: right; }

.featured-list-title {
  display: inline-block;
  margin: 15px 0 8px 24px; }
  @media (max-width: 1200px) {
    .featured-list-title {
      margin-left: 0; } }
  .featured-list-title h4 {
    font-weight: 400; }
  .featured-list-title p {
    color: #768187;
    font-weight: 100;
    margin: 0; }
    .dark-theme .featured-list-title p {
      color: #b8bfc3; }

@media (max-width: 992px) {
  .featured3-block {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%; } }

@media (max-width: 992px) {
  .featured3-block img {
    margin: 30px 0 0; } }

@media (max-width: 1200px) {
  .featured3-wrap {
    padding: 0; } }

.featured3-img-wrap {
  max-width: 455px;
  display: block;
  margin: 0 auto; }

.isometric-stack1 {
  position: relative;
  z-index: 1; }
  .isometric-stack1 .stack-screens {
    position: absolute;
    top: 9.7%;
    left: 30.7%;
    right: 8.9%;
    bottom: 22.7%;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(11.5deg) skewY(9.7deg);
    -ms-transform: rotate(11.5deg) skewY(9.7deg);
    transform: rotate(11.5deg) skewY(9.7deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    max-width: 455px;
    z-index: 0; }
    @media (max-width: 992px) {
      .isometric-stack1 .stack-screens {
        top: 9.4%;
        left: 31.7%;
        right: 7.6%;
        bottom: 25.3%; } }
    @media (max-width: 480px) {
      .isometric-stack1 .stack-screens {
        top: 9.3%;
        left: 32.3%;
        right: 6.5%;
        bottom: 25.5%; } }
    .isometric-stack1 .stack-screens img {
      width: 100%;
      height: 100%; }
  .isometric-stack1 img {
    z-index: 1; }

/* -----------------------------------------------
 * Testimonials
 * ----------------------------------------------- */
.comment-wrap {
  position: relative;
  background: #ffffff;
  padding: 58px 38px;
  margin: 50px 0;
  text-align: center;
  opacity: 0.8;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (max-width: 768px) {
    .comment-wrap {
      padding: 58px 10px; } }
  .dark-theme .comment-wrap {
    background: #2a2e2f; }
  @media (max-width: 992px) {
    .comment-wrap {
      margin: 65px 0 20px; } }
  .comment-wrap i {
    color: #ffcc00; }

.comment-img {
  position: absolute;
  margin: 0 auto;
  width: 70px !important;
  height: 70px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  top: -35px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

.single-screen.slick-active {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  z-index: -1;
  opacity: 0.8; }

.slick-center {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 1;
  opacity: 1; }
  @media (max-width: 992px) {
    .slick-center {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }

@media (max-width: 1200px) {
  .slick-list {
    margin: 0; } }

.slick-dots li {
  width: 50px;
  height: 2px; }
  .slick-dots li button {
    width: 35px;
    height: 20px; }
    .slick-dots li button:before {
      font-family: initial;
      content: '';
      background: #11aff1;
      width: 35px;
      height: 3px;
      top: 8px; }

.slick-next {
  right: 0;
  width: 33%;
  height: 100%;
  z-index: 1; }
  .slick-next:before {
    content: ''; }

.slick-prev {
  left: 0;
  width: 33%;
  height: 100%;
  z-index: 1; }
  .slick-prev:before {
    content: ''; }

/* -----------------------------------------------
 * Gallery
 * ----------------------------------------------- */
.gallery-wrap {
  position: relative; }

.phone-wrap-fix {
  position: absolute;
  max-width: 326px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -49px;
  z-index: 999;
  pointer-events: none; }

.phone-img {
  max-width: 100%; }

.screen-carousel-1 {
  margin: 40px 0 40px;
  cursor: -webkit-grab; }

.screen-set {
  width: 293.5px;
  height: 500px;
  margin: 50px 0;
  -webkit-box-shadow: 0px 0px 22px 3px whitesmoke;
  -moz-box-shadow: 0px 0px 22px 3px whitesmoke;
  box-shadow: 0px 0px 22px 3px whitesmoke; }
  .dark-theme .screen-set {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .screen-set img {
    width: 100%;
    height: 100%; }

@media (max-width: 600px) {
  .phone-wrap-fix {
    display: none; }
  .screen-set {
    width: auto;
    height: auto; }
  .screen-carousel-1 {
    margin: 0; } }

/* -----------------------------------------------
 * Vertical Tabs
 * ----------------------------------------------- */
.nav-tabs {
  display: block;
  border: 0;
  border-radius: 0;
  margin: 10rem 0 0; }
  @media (max-width: 992px) {
    .nav-tabs {
      margin: 24px 0 0; } }
  .nav-tabs .nav-item {
    margin: 0 0 30px 0; }
    .nav-tabs .nav-item .nav-link {
      border-radius: 0;
      border: none;
      padding: 25px 30px;
    direction: rtl}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background: #f9fbfb; }
  .dark-theme .nav-tabs .nav-item.show .nav-link, .dark-theme
  .nav-tabs .nav-link {
    background: #303436; }
  .nav-tabs .nav-item.show .nav-link.active,
  .nav-tabs .nav-link.active {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #ffffff; }
    .dark-theme .nav-tabs .nav-item.show .nav-link.active, .dark-theme
    .nav-tabs .nav-link.active {
      background: #2a2e2f; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:after {
  left: 97.8%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 17px;
  margin-top: 24px; }
  .dark-theme .nav-tabs .nav-item.show .nav-link, .dark-theme
  .nav-tabs .nav-link.active:after {
    border-left-color: #2a2e2f; }
  @media (max-width: 1200px) {
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active:after {
      left: 97.4%; } }
  @media (max-width: 992px) {
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active:after {
      display: none; } }

.phone-tab-list {
  padding: 0;
  background: #ffffff; }
  .dark-theme .phone-tab-list {
    background: #2a2e2f; }
  .phone-tab-list span {
    font-size: 56px;
    color: #3fb125;
    font-weight: 100; }
    @media (max-width: 992px) {
      .phone-tab-list span {
        font-size: 42px;
        float: left; } }
  .phone-tab-list h4 {
    margin: 0 0 6px;
    text-align: right;
    color: #2a2e2f;
    font-weight: 400; }
  .phone-tab-list p {
    margin: 0; }

.tab-list-content {
  text-align: right;
  display: inline-block;
  margin-right: 28px; }
  @media (max-width: 992px) {
    .tab-list-content {
      display: block;
      margin-left: 65px; } }
  .dark-theme .tab-list-content h4 {
    color: #ffffff; }

.tab-wrap {
  max-width: 100%;
  position: relative;
  float: left;
  z-index: 999; }
  @media (max-width: 768px) {
    .tab-wrap {
      float: none;
      display: inline-block;
      left: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%); } }

.tab-wrap .tab-phone {
  max-width: 100%; }

.tab-wrap .tab-screen {
  position: absolute;
  left: 4.7%;
  top: 11.9%;
  right: 5.2%;
  bottom: 35.3%;
  cursor: -webkit-grab;
  z-index: -1; }

.tab-wrap .tab-screen .item img {
  width: 100%;
  height: 100%; }

/* -----------------------------------------------
 * APP HIGHLIGHTS
 * ----------------------------------------------- */
.detailed-icon-wrap {
  margin: 76px 0 0; }
  @media (max-width: 1200px) {
    .detailed-icon-wrap {
      margin: 0; } }
  @media (max-width: 992px) {
    .detailed-icon-wrap {
      max-width: 100%;
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      margin: 0 10%; } }
  @media (max-width: 768px) {
    .detailed-icon-wrap {
      margin: 0; } }

.detailed-block {
  display: inline-block;
  margin: 20px 0; }
  .detailed-block h4 {
    text-align: right;
    margin-right: 76px;
    font-weight: 400; }
  .detailed-block p {
    text-align: right;
    margin-right: 76px;
    font-weight: 400; }
  .detailed-block span {
    float: right;
    color: #3170e2;
    margin-left: 20px;
  font-size: 50px }

@media (max-width: 992px) {
  .detailed-block span {
    float: left;
    margin: 0 20px 0 0; }
  .detailed-block h4 {
    text-align: right;
    margin: 0 0 0 76px; }
  .detailed-block p {
    text-align: right;
    margin: 0 0 0 76px; } }

.detailed-block2 {
  display: inline-block;
  margin: 20px 0; }
  .detailed-block2 h4 {
    text-align: right;
    margin-left: 76px;
    font-weight: 400; }
  .detailed-block2 p {
    text-align: right;
    margin-left: 76px;
    font-weight: 400;
  direction: rtl }
  .detailed-block2 span {
    float: left;
    color: #3568f5;
    margin-right: 20px;
  font-size: 50px }

.deatiled-phone-wrap {
  max-width: 100%;
  position: relative;
  float: left;
  z-index: 999; }
  @media (max-width: 480px) {
    .deatiled-phone-wrap {
      margin: 20px 0; } }
  .deatiled-phone-wrap .phone {
    max-width: 100%; }
  .deatiled-phone-wrap .screen {
    position: absolute;
    left: 6%;
    top: 12.3%;
    right: 6.5%;
    bottom: 11.3%;
    cursor: -webkit-grab; }
    .deatiled-phone-wrap .screen .item img {
      width: 100%;
      height: 100%; }

@media (max-width: 992px) {
  .detaled-wrap-flex {
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); } }

.detailed-title2 {
  text-align: left;
  float: left;
  display: inline-block;
  width: 75%; }
  @media (max-width: 992px) {
    .detailed-title2 {
      text-align: center;
      width: 100%; } }
  .detailed-title2 h4 {
    font-weight: 400; }

/* -----------------------------------------------
 * Pricing
 * ----------------------------------------------- */
.pricing-wrap {
  background: #ffffff;
  text-align: center;
  padding: 43px 20px;
  margin-bottom: 20px; }
  .dark-theme .pricing-wrap {
    background: #2a2e2f; }
  .pricing-wrap h3 {
    font-size: 34px; }
  .pricing-wrap ul {
    padding: 0;
    margin: 0 0 20px; }
    .pricing-wrap ul li {
      list-style: none;
      line-height: 2.4; }
  .pricing-wrap .btn-primary {
    margin: 6px 0; }

.pricing-wrap-popular .price {
  color: #3fb125; }

.pricing-wrap-popular .btn-primary {
  border-color: #3fb125;
  color: #3fb125; }

.pricing-wrap-popular .btn-primary:hover {
  border-color: #3fb125;
  color: #ffffff;
  background: #3fb125; }

.price {
  font-size: 80px;
  line-height: 1.5;
  font-weight: 100;
  color: #11aff1;
  margin: 0; }
  .price span {
    font-size: 35px !important;
    top: -27px;
    position: relative; }

.most-popular {
  background: #2a2e2f;
  color: #ffffff;
  position: absolute;
  top: -12px;
  text-align: center;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0 20px; }
  .dark-theme .most-popular {
    background: #000; }
  .most-popular p {
    font-size: 14px;
    font-weight: 400;
    margin: 0; }

/* -----------------------------------------------
 * FAQ
 * ----------------------------------------------- */
.faq {
  padding: 0 0 100px; }
  .faq h4 {
    font-weight: 400; }

.faq-link {
  text-align: center; }
  .faq-link a {
    text-decoration: underline; }

/* -----------------------------------------------
 * Our team
 * ----------------------------------------------- */
.team-img-wrap {
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (max-width: 768px) {
    .team-img-wrap {
      margin: 0 0 30px; } }
  .team-img-wrap h5 {
    font-weight: 400;
    margin: 18px 0 6px; }
  .team-img-wrap span {
    padding: 0 0 12px;
    display: block; }
  @media (max-width: 768px) {
    .team-img-wrap img {
      width: 100%; } }

.team-img-wrap:hover {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px); }

/* -----------------------------------------------
 * Map
 * ----------------------------------------------- */
.google-map {
  height: 560px; }

/* -----------------------------------------------
 * Contact
 * ----------------------------------------------- */
.contact {
  padding: 0 0 100px; }

.dark-theme .form-control::-webkit-input-placeholder {
  color: #5e6369; }

.contact-form {
  direction: rtl;
  background: #ffffff;
  padding: 38px 40px;
  border: 1px solid #ddd;
  margin: -100px 0 0;
  -webkit-box-shadow: 0px 5px 39px -17px #cccccc;
  -moz-box-shadow: 0px 5px 39px -17px #cccccc;
  box-shadow: 0px 5px 39px -17px #cccccc; }
  @media (max-width: 480px) {
    .contact-form {
      padding: 38px 10px; } }
  .dark-theme .contact-form {
    background: #383e40;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .contact-form .btn {
    margin: 0 auto;
    display: inline-block; }

.form-control {
  direction: rtl;
  padding: 16px 20px;
  border: 2px solid #f0f4f6;
  font-size: 20px; }
  .dark-theme .form-control {
    background: #2a2e2f;
    border: none;
    color: #f0f4f6; }

.form-control::-webkit-input-placeholder {
  color: #f0f4f6; }

textarea {
  height: 200px;
  margin: 12px 0 0; }

.address-block {
  margin: 60px 0 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .address-block ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 70px; }
    .address-block ul li {
      float: right;
      margin: 0 0 0 6px; }
      .address-block ul li a {
        border: 2px solid #2fa1fe;
        padding: 7px 14px;
        color: #2a2e2f; }
        .dark-theme .address-block ul li a {
          color: #f0f4f6;
          opacity: 0.4; }
      .address-block ul li :hover {
        opacity: 0.6; }
        .dark-theme .address-block ul li :hover {
          opacity: 1; }

.address {
  margin: 20px 0;
text-align: right}
  .address span {
    font-size: 30px;
    color: #11aff1;
    margin: 10px 20px 0;
    vertical-align: top; }
  .address p {
    display: block; }

.service-item h2 span {
      font-size: 23px;

  }
  .service-item h2 {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.dirrtl{
  direction: rtl
}

.iconInfo img{
  position: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconInfo{
position: relative;
  width: 120px;
  height: 120px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  line-height: 150px;
  text-align: center;
  box-shadow: 0 0 15px #ddd;
  -moz-box-shadow: 0 0 15px #ddd;
  -webkit-box-shadow: 0 0 15px #ddd;
  -ms-box-shadow: 0 0 15px #ddd;
}

/* -----------------------------------------------
 * Footer
 * ----------------------------------------------- */
footer a {
  padding: 0 16px 0 0; }

.footerend{
  background: #222;
  /* position: fixed;
  width: 100%;
  bottom: 0; */
}
/* .articlesContent {
  background: #fff;
  padding-top: 40px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px #d0d0d0;
  margin-bottom: 20px;
} */
.footerend p{
  color: #fff;
  margin-bottom: 0;
  padding: 10px 0;
}

/* -----------------------------------------------
 * Static Version
 * ----------------------------------------------- */
.static {
  height: 100vh; }

.static-content-wrap img {
  margin: 30px 0; }

.static-content-wrap p {
  margin: 30px 0;
  padding-right: 75px; }
  @media (max-width: 480px) {
    .static-content-wrap p {
      padding: 0; } }

.static-list-block {
  list-style: none; }
  .static-list-block span {
    font-size: 30px;
    color: #11aff1;
    float: left;
    padding: 0 14px 0 0; }
  .static-list-block p {
    display: inline-block; }

.static-img-block {
  margin: 25px 0 0; }
  .static-img-block img {
    margin: 0 13px 0 0; }
    @media (max-width: 992px) {
      .static-img-block img {
        margin: 0 6px 10px 0; } }
  .static-img-block p {
    padding: 15px 0 0; }

.static-links {
  float: right; }
  @media (max-width: 768px) {
    .static-links {
      float: left; } }

/* -----------------------------------------------
 * Sticky Parallax
 * ----------------------------------------------- */
.sticky-header {
  padding: 100px 0; }
  .sticky-header span {
    font-size: 30px;
    font-weight: 100;
    display: block;
    padding: 15px 0 30px; }

.stick-icons-bg {
  margin: 0 auto;
  display: block; }

.sticky-slider {
  padding: 0 0 100px; }
  @media (max-width: 768px) {
    .sticky-slider {
      padding: 0 0 25px; } }

.sticky-middle-img {
  max-width: 100%;
  position: relative;
  z-index: 999; }

.sticky-level {
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  margin: -27% 0 0; }

.sticky-content {
  padding: 0; }
  @media (max-width: 768px) {
    .sticky-content {
      padding: 0; } }

.sticky-space {
  padding: 100px 0; }
  @media (max-width: 768px) {
    .sticky-space {
      padding: 0 50px; } }

@media (max-width: 768px) {
  .sticky-none {
    display: none; } }

.sticky-left-img {
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }
  .sticky-left-img .screen {
    z-index: -1; }
  @media (max-width: 768px) {
    .sticky-left-img {
      left: 0;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0); } }

.sticky-screen {
  z-index: 999; }

.sticky-middle {
  text-align: center; }

.sticky-middle-content {
  display: block;
  text-align: center; }

.sticky-middle-img {
  margin: 0 0 100px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }
  .sticky-middle-img .screen {
    z-index: -1;
    left: 12.5%;
    top: 6.7%;
    right: 11.1%;
    bottom: 6%;
    overflow: hidden; }
  @media (max-width: 768px) {
    .sticky-middle-img {
      margin: 0 0 24px; } }
