﻿
@model Mghslh.ViewModel.ViewModel.SettingVM
<section class="skew-bg space" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="reveal fadeInUp">@Model.Titel</h2>
                <p class="reveal fadeInUp" data-wow-delay="0.3s">
                  @Model.Details


                </p>
            </div>
            <div class="landing-img-bg reveal fadeIn">
                <div class="isometric-stack">
                    <img src="~/@Model.Image" class="img-fluid" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
