﻿@model IEnumerable<Mghslh.ViewModel.ViewModel.AdvertisementVM>

@if (Model != null)
{

<section class="space light-bg" id="sings">
    <div class="container">
        <div class="text-center">
            <h2 class="reveal fadeInUp">اعلانات </h2>
            @*<p class="reveal fadeInUp"> نص هنا مختصر عن صور التطبيق </p>*@
        </div>
        <br>
        <div class="row">

            <div class="col-md-4 detailed-icon-wrap">
                @foreach (var item in Model.Take(3))
    {
            <div class="detailed-block reveal fadeInLeft" data-wow-delay="0.6s">
                <span>
                    <i class="fa fa-rss" aria-hidden="true"></i>
                </span>

                <div class="detailed-title">
                    <h4>@item.Id @item.Name</h4>
                    <p class="text-muted">
                       @item.Details

                    </p>
                </div>
            </div>
                }


            </div>
            <div class="col-md-4 detaled-wrap-flex">
                <div class="deatiled-phone-wrap reveal fadeIn">
                    <img src="~/Webassets/images/detailed-screen.png" class="phone" alt="#">
                    <div class="screen">
                        <div class="screen-slider owl-carousel owl-theme">
                            <div class="item">
                                <img src="~/Webassets/images/screen1.jpg" alt="#">
                            </div>
                            <div class="item">
                                <img src="~/Webassets/images/screen1.jpg" alt="#">
                            </div>
                            <div class="item">
                                <img src="~/Webassets/images/screen1.jpg" alt="#">
                            </div>
                            <div class="item">
                                <img src="~/Webassets/images/screen1.jpg" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 detailed-icon-wrap">
                @foreach (var item in Model.Skip(3).Take(3))
    {
            <div class="detailed-block2 reveal fadeInRight">
                <span data-wow-delay="0.6s">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </span>

                <h4>@item.Id @item.Name</h4>
                <p class="text-muted">
                    @item.Details

                </p>
            </div>
                }

            </div>
        </div>
    </div>
</section>
}

