﻿@model Mghslh.ViewModel.ViewModel.MghslhFM

@{
    ViewBag.Title = "Createdry";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<br />
<br>

<br />
@using (Html.BeginForm("Createdry", "Home", System.Web.Mvc.FormMethod.Post, new { role="form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">


        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" placeholder="اسم المغسلة">
            </div>
        </div>






        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">
                @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@


                <textarea type="text" class="form-control" id="Details" name="Details" placeholder="تفاصيل المغسلة" value="@Model.Details">
@Model.Details
</textarea>
            </div>

        </div>
        <br />

        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">
                @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@


                <input type="text" class="form-control" id="WorkingTime" name="WorkingTime" placeholder="سعات العمل" value="@Model.WorkingTime">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">
                @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@


                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="رقم الموبيل" value="@Model.PhoneNumber">
            </div>
        </div>


        <br />




        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">
                <input type="file" class="form-control" id="file" name="file">

            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">
                <input id="LatId" name="LatId" type="text" placeholder="lat" />
                <input id="LangId" name="LangId" type="text" placeholder="lang" />
                <div id="mymap" style="width: 100%; height: 400px; margin: 0 auto;"></div>

            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>*@

                <button type="button" value="حفظ" class="btn yellow Saveee">حفظ</button>
            </div>
        </div>

    </div>



}

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJrTmj2nYQpQm0zoO_qkPbSEPCtyx0yNQ&sensor=false&language=ar"></script>


@*<script src="~/AjaxCall/Createdry.js"></script>
    @section scripts {
        <script type="text/javascript">

            $(document).ready(function () {
                Createdry.init();

            })

        </script>
    }*@

<script>





    @{
     var   lat = "24.774265";
      var  lang = "46.738586";
      var  ff = "false";
    }


    var myf="@ff";
    var map,
        mLat,
        mLng,
        marker = [],
        loc,
        mnum = 0;

    function initialize() {
        var mylocate = new google.maps.LatLng(@lat,@lang);
        var mapOptions = {
            zoom: 8,
            center: mylocate,
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById('mymap'),
            mapOptions
        );
        if (myf == "true") {
            marker[mnum] = new google.maps.Marker({
                position: mylocate,
                animation: google.maps.Animation.BOUNCE
            });
            marker[mnum].setMap(map);
        }


        // add a click event listener to
        // get the lat/lng from click event of map
        google.maps.event.addListener(map, 'click', function (event) {

            mLat = event.latLng.lat();
            mLng = event.latLng.lng();

            document.getElementById('LatId').value = mLat;
            document.getElementById('LangId').value = mLng;

            //--------------------------------------marker ---------------
            //remove marker----
            for (var i = 0; i < marker.length; i++) {
                marker[i].setMap(null);
                mnum = marker.length;
            }
            //create marker----
            loc = new google.maps.LatLng(mLat, mLng);
            marker[mnum] = new google.maps.Marker({
                position: loc,
                animation: google.maps.Animation.BOUNCE
            });


            marker[mnum].setMap(map);

        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);




</script>
