﻿
@model Mghslh.ViewModel.ViewModel.SettingVM

@if (Model.Id != null)
{
<section class="slider-bg" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <div class="slider-title">
                    <h1 class="h2 reveal fadeInUp">@Model.Titel</h1>
                    <p class="reveal fadeInUp" data-wow-delay="0.3s">
                       @Model.Details
                    </p>
                    <p class="mt-4 text-muted reveal fadeInUp" data-wow-delay="0.6s"> يمكنك تحميل كلا من </p>
                    <!-- <a href="#" class="btn btn-primary mr-2 reveal fadeInUp" data-wow-delay="0.6s">

                        <i class="fa fa-apple mr-2" aria-hidden="true"></i>App Store</a>

                    <a href="#" class="btn btn-success reveal fadeInUp" data-wow-delay="0.9s">
                        <i class="fa fa-android mr-2" aria-hidden="true"></i>Play Store</a> -->
                    <a href="#" class="reveal fadeInUp" data-wow-delay="0.9s">
                        <img src="~/Webassets/images/app-store.png" class="img-fluid mb-3 mr-sm-3" alt="#">
                    </a>
                    <a href="#" class="reveal fadeInUp" data-wow-delay="1.2s">
                        <img src="~/Webassets/images/play-store.png" class="img-fluid mb-3" alt="#">
                    </a>

                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="phone-wrap reveal fadeIn">
                    <img src="~/@Model.Image" class="phone" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
}
