﻿<section class="space " id="mghslh">
    <div class="container">
        <div class="row dirrtl text-center">
            <div class="col-md-3 col-sm-6 service-item">
                <div class="iconInfo">
                    <img src="~/Webassets/images/icon4.png" alt="">
                </div>
                <h2>

                    <span>رفاهيتك و تميزك</span>
                </h2>
                <p>    نص هنا سيتم استبدالة  نص هنا سيتم استبدالة  نص هنا سيتم استبدالة  </p>
            </div>
            <div class="col-md-3 col-sm-6 service-item">
                <div class="iconInfo">
                    <img src="~/Webassets/images/icon5.png" alt="">
                </div>
                <h2>

                    <span>رفاهيتك و تميزك</span>
                </h2>
                <p>    نص هنا سيتم استبدالة  نص هنا سيتم استبدالة  نص هنا سيتم استبدالة  </p>
            </div>
            <div class="col-md-3 col-sm-6 service-item">
                <div class="iconInfo">
                    <img src="~/Webassets/images/icon6.png" alt="">
                </div>
                <h2>

                    <span>رفاهيتك و تميزك</span>
                </h2>
                <p>    نص هنا سيتم استبدالة  نص هنا سيتم استبدالة  نص هنا سيتم استبدالة  </p>
            </div>
            <div class="col-md-3 col-sm-6 service-item">
                <div class="iconInfo">
                    <img src="~/Webassets/images/icon7.png" alt="">
                </div>
                <h2>

                    <span>رفاهيتك و تميزك</span>
                </h2>
                <p>    نص هنا سيتم استبدالة  نص هنا سيتم استبدالة  نص هنا سيتم استبدالة  </p>
            </div>

        </div>
    </div>

</section>