﻿
@model IEnumerable<Mghslh.ViewModel.ViewModel.SettingVM>

@if (Model != null)
{
<section class="space light-bg" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var item in Model)
                    {


                    <li class="nav-item phone-tab-list reveal fadeInLeft">
                        <a class="nav-link active" data-toggle="tab" href="#tab-img1" role="tab">
                            <span>@item.Id</span>
                            <div class="tab-list-content">
                                <h4> @item.Titel</h4>
                                <p class="text-muted">@item.Details</p>
                            </div>
                        </a>
                    </li>
                    }

                </ul>
            </div>
            <div class="col-md-5 justify-content-center">
                <div class="tab-wrap reveal fadeIn">
                    <img src="~/Webassets/images/tab-screen.png" class="tab-phone" alt="#">
                    <div class="tab-screen">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-img1" role="tabpanel">
                                <img src="~/Webassets/images/screen1.jpg" class="img-fluid" alt="#">
                            </div>
                            <div class="tab-pane" id="tab-img2" role="tabpanel">
                                <img src="~/Webassets/images/screen2.jpg" class="img-fluid" alt="#">
                            </div>
                            <div class="tab-pane" id="tab-img3" role="tabpanel">
                                <img src="~/Webassets/images/screen3.jpg" class="img-fluid" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
