﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="مغاسل | خدمات الغسيل و الكيّ">
    <meta name="keywords" content=" مغاسل | خدمات الغسيل و الكيّ">
    <title> مغاسل | خدمات الغسيل و الكيّ  </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Webassets/vendors/fontawesome/css/font-awesome.min.css">
    <!-- Simple Line Font -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Webassets/vendors/bootstrap/css/bootstrap.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="~/Webassetsvendors/slick/css/slick.css">
    <link rel="stylesheet" href="~/Webassets/vendors/slick/css/slick-theme.css">
    <!-- owlcarousel Slider -->
    <link rel="stylesheet" href="~/Webassets/vendors/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Webassets/vendors/owlcarousel/css/owl.theme.default.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Webassets/vendors/animate.css">
    <!-- Magnific Po;pup -->
    <link rel="stylesheet" href="~/Webassets/vendors/magnific-popup/css/magnific-popup.css">
    <!-- Main css -->
    <link href="~/Webassets/css/style.css" rel="stylesheet">
</head>

<body data-scroll-animation="true">
    <!--===================== Header =====================-->
    <div class="preloader" id="preloader">
        <svg class="spinner" id="pageloader_anime" width="32px" height="32px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <!-- Nav Menu -->
    <div class="nav-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light wow fadeInDown">
                        <a class="navbar-brand" href="index.html">
                            <!-- <img src="images/logo.png" class="img-fluid" alt="logo"> -->
                            <span> الوجو هنا </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Index","Home")">
                                        الرئيسية
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#features"> من نحن </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#gallery">  المميزات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#mghslh">  المغاسل</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Createdry","Home")">  اضافة مغسلة</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contact"> اتصل بنا </a>
                                </li>

                                @Html.Partial("_LoginPartial")

                                @*<li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Login","Account")">   دخول </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Register","Account")">   التسجيل </a>
                                    </li>*@
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>









    @RenderBody()






    <section class="space">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 center-block">
                    <h2 class="reveal fadeInUp"> يمكنك التحميل من هنا </h2>
                    <p class="mb-4 reveal fadeInUp" data-wow-delay="0.3s"> يمكن التحميل من اختيارك لاى متجر نص هنا </p>

                    <a href="#" class="reveal fadeInUp" data-wow-delay="0.6s">
                        <img src="~/Webassets/images/app-store.png" class="img-fluid mb-3 mr-sm-3" alt="#">
                    </a>
                    <a href="#" class="reveal fadeInUp" data-wow-delay="0.9s">
                        <img src="~/Webassets/images/play-store.png" class="img-fluid mb-3" alt="#">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <br><br>   <br>
    <!--//End variation -->
    <!--===================== footer =====================-->
    <!--===================== Contact =====================-->
    @*<section class="contact light-bg" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="contact-form reveal fadeInUp">
                            <form id="phpcontactform" action="" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="center-block mt-4 mb-4"> اتصل بنا </h2>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="الاسم">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="الايميل">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" placeholder="الرسالة" rows="3"></textarea>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" id="js-contact-btn" class="btn btn-primary mt-4">
                                                ارسال
                                                <span class="pe-7s-angle-right-circle ml-3"></span>
                                            </button>
                                            <div id="js-contact-result" data-success-msg="Success, We will get back to you soon" data-error-msg="Oops! Something went wrong"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="address-block">
                            <div class="address reveal fadeInUp">
                                <span class="pe-7s-map-marker"></span>
                                <p>
                                    العنوان :
                                    <br> سوف يوضع العنوان هنا
                                </p>
                            </div>
                            <div class="address reveal fadeInUp" data-wow-delay="0.3s">
                                <p>
                                    الايميل<br>
                                    sales@gmail.com
                                    <br> support@gmail.com
                                </p>

                            </div>
                            <div class="address reveal fadeInUp" data-wow-delay="0.6s">

                                <p>
                                    +1 (223) 243 12058
                                    <br> +1 (351) 5651 7041
                                </p>
                            </div>
                            <ul class="reveal fadeInUp" data-wow-delay="0.9s">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!--//End Contact -->

    <footer class="footerend">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 center-block">
                    <p class="reveal"> جميع الحقوق محفوظة  ©   </p>

                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)

    <!--//End footer -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="~/Webassets/vendors/jquery/js/jquery-3.2.1.min.js"></script>
    <script src="~/Webassets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/Webassets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- Slick JS -->
    <script src="~/Webassets/vendors/slick/js/slick.min.js"></script>
    <!-- owlcarousel JS -->
    <script src="~/Webassets/vendors/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- Wow JS (On Scroll Animation) -->
    <script src="~/Webassets/vendors/wow.min.js"></script>
    <!-- owlcarousel JS -->
    <!-- Validate JS -->
    <script src="~/Webassets/vendors/validate.js"></script>
    <!-- Contact JS -->
    <script src="~/Webassets/js/contact.js"></script>
    <!-- Script JS -->
    <script src="~/Webassets/js/script.js"></script>
</body>

</html>