﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(" " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li style="width:50px;">
            <a>   </a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"> خروج</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account",new { @Area=""})">تسجيل </a></li>
        <li style="width:50px;">
            <a>   </a>
        </li>
        <li><a href="@Url.Action("Login", "Account",new { @Area=""})"> دخول</a></li>
    </ul>
}
